* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
P {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, sans-serif;
    font-weight: 500;
}

body {
  font-family: "poppins", sans-serif;
  margin-bottom: 50px;
}

section {
  width: 100%;
  height: 100vh;
}
section nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.logo img {
  width: 100px;
  cursor: pointer;
  margin: 7px 0;
}

section nav ul {
  list-style: none;
}

section nav ul li {
  display: inline-block;
  margin: 0 15px;
}

section nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 17px;
  transition: 0.1s;
}

section nav ul li a:hover {
  color: #fac031;
}
section nav .icon i {
  margin: 0 5px;
  font-size: 18px;
  cursor: pointer;
  color: black;
  transition: 0.3s;
}

section nav .icon i:hover {
  color: #fac031;
}

section .main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 120px;
  margin-left: -60px;
}

section .main .main-text h1 {
  font-size: 45px;
  position: relative;
  top: -40px;
  left: 10px;
}
section .main .main-text h1 span {
  margin-left: 15px;
  color: #fac031;
  font-family: mv boli;
  line-height: 22px;
  font-size: 45px;
}
section .main .main-image img {
  width: 350px;
  position: relative;
  left: 70px;
}
section p {
  width: 325px;
  text-align: justify;
  position: relative;
  left: 10px;
  bottom: 12px;
  line-height: 20px;
  top: -40;
}
section .main-btn {
  background: #fac031;
  position: relative;
  left: 10px;
  bottom: 12px;
  width: 150px;
  cursor: pointer;
  padding: 6px 12px;
  margin-top: 65px;
}
section .main-btn a {
  color: white;
  text-decoration: none;
  margin-right: 3px;
}
section .main-btn i {
  color: white;
  transition: 0.3s;
}
section .main-btn:hover i {
  transform: translateX(7px);
}

/*About*/
.about {
  width: 100%;
  height: 100vh;
  padding: 70px 0px;
}

.about .about-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about .about-main .image img {
  width: 400px;
  position: relative;
  top: 60px;
}
.about .about-main h1 span {
  color: #fac031;
  margin-right: 15px;
  font-family: mv boli;
}
.about .about-main .about-text h1 {
  font-size: 55px;
  position: relative;
  bottom: 50px;
}
.about .about-main .about-text h3 {
  font-size: 30px;
  margin-bottom: 20px;
}
.about .about-main .about-text p {
  width: 650px;
  text-align: justify;
  margin-right: 30px;
  line-height: 25px;
}
.about .about-btn {
  background: #fac031;
  text-decoration: none;
  color: white;
  position: relative;
  left: 718px;
  top: 50px;
  bottom: -90px;
  padding: 6px 12px;
}

/*Menu*/

.menu {
  width: 100%;
  padding: 70px 0;
}

.menu h1 {
  font-size: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.menu h1 span {
  color: #fac031;
  margin-left: 15px;
  font-family: mv boli;
}

.menu .menu-box {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

.menu .menu-box .menu-card {
  width: 325px;
  height: 480px;
  padding-top: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu .menu-box .menu-card .menu-image {
  width: 300px;
  height: 245px;
  margin: 0 auto;
  overflow: hidden;
}

.menu .menu-box .menu-card .menu-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.3s;
}

.menu .menu-box .menu-card .menu-image:hover img {
  transform: scale(1.1);
}

.menu .menu-box .menu-card .small-card {
  width: 45px;
  height: 45px;
  float: right;
  position: relative;
  top: -240px;
  right: -8px;
  opacity: 0;
  border-radius: 7px;
  transition: 0.3s;
}

.menu .menu-box .menu-card:hover .small-card {
  position: relative;
  top: -240px;
  right: 20px;
  opacity: 1;
}

.menu .menu-box .menu-card .small-card i {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 50px;
  color: #fac031;
  cursor: pointer;
  text-shadow: 0 0 6px #000;
  transition: 0.2s;
}

.menu .menu-box .menu_card .small-card i:hover {
  color: #fac031;
}

.menu .menu-box .menu-card .menu-info h2 {
  width: 60%;
  text-align: center;
  margin: 10px auto 10px auto;
  font-size: 25px;
  color: #fac031;
}

.menu .menu-box .menu_card .menu-info p {
  text-align: center;
  margin-top: 8px;
  line-height: 21px;
}

.menu .menu-box .menu-card .menu-info h3 {
  text-align: center;
  margin-top: 10px;
}

.menu .menu-box .menu-card .menu-info .menu-icon {
  color: #fac031;
  text-align: center;
  margin: 10px 0 10px 0;
}

.menu .menu-box .menu-card .menu-info .menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  background: #000;
  padding: 8px 10px;
  margin: 0 80px;
  transition: 0.3s;
}

/*Gallary*/

.gallary {
  width: 100%;
  padding: 70px 0;
}
.gallary h1 {
  font-size: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallary h1 span {
  font-family: mv boli;
  margin-left: 15px;
  color: #fac031;
  text-decoration: dotted;
}

.gallary .gallary-image-box {
  width: 95%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.gallary .gallary-image-box .gallary-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

.gallary .gallary-image-box .gallary-image img {
  width: 100%;
  transition: 0.3s;
}

.gallary .gallary-image-box .gallary-image:hover img {
  opacity: 0.4;
}

.gallary .gallary-image-box .gallary-image h3 {
  position: absolute;
  font-size: 35px;
  margin-bottom: 130px;
  color: #fac031;
  font-family: mv system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  z-index: 5;
  opacity: 0;
  transition: 0.3s;
}

.gallary .gallary-image-box .gallary-image:hover h3 {
  opacity: 1;
}

.gallary .gallary-image-box .gallary-image p {
  position: absolute;
  width: 400px;
  margin-top: 30px;
  text-align: center;
  color: white;
  line-height: 22px;
  opacity: 0;
  z-index: 5;
  transition: 0.3s;
}

.gallary .gallary-image-box .gallary-image:hover p {
  opacity: 1;
}

.gallary .gallary-image-box .gallary-image .gallary-button {
  position: absolute;
  margin-top: 180px;
  color: #000;
  background: #fac031;
  padding: 7px 25px;
  text-decoration: none;
  opacity: 0;
  transform: translateY(45px);
  z-index: 5;
  transition: 0.3s;
}

.gallary .gallary-image-box .gallary-image:hover .gallary-button {
  opacity: 1;
  transform: translateY(0);
}

/*Review*/
.review{
  width: 100%;
  height: 100vh;
  padding: 70px 0;
}

.review h1{
  font-size: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review h1 span{
  color: #fac031;
  margin-left: 15px;
  font-family: mv boli;
}

.review .review-box{
  width: 95%;
  display: flex;
  margin: 70px auto;
}

.review .review-box .review-card{
width: 350px;
height: 535px;  
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
border-radius: 8px;
padding: 8px 20px;
margin: 0 8px;
}

.review .review-box .review-card .review-profile{
display: flex;
align-items: center;
justify-content: center;
position: relative;
transition: 0.3s;
} 

.review .review-box .review-card:hover .review-profile{
  transform: translateY(-60px);
}


.review .review-box .review-card .review-profile img{
  width: 180px;
  height: 180px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 5px solid whitesmoke;
}

.review .review-box .review-card .review-text{
  text-align: center;
}

.review .review-box .review-card .review-text .name{
  color: #000;
  transition: 0.3s;
}

.review .review-box .review-card:hover .review-text .name{
  transform: translateY(-50px);
}

.review .review-box .review-card .review-text .review-icon{
  color: #fac031;
}
.review .review-box .review-card:hover .review-text .review-icon{
  transform: translateY(-30px);
}

.review .review-box .review-card .review-text .review-social i{
  margin: 5px 1px;
  font-size: 15px;
  opacity: 0;
  cursor: pointer;
  transition: 0.3s;
}

.review .review-box .review-card:hover .review-text .review-social i{
opacity: 1;
transform: translateY(-8px);
}


.review .review-box .review-card .review-text p{
  text-align: center;
  line-height: 22px;
  transition: 0.3s;
}

.review .review-box .review-card:hover .review-text p{
  margin-top: 5px;
}




/*Order*/
.order{
  width: 100%;
  height: 100vh;
  padding: 70px 0;
  background-image: url(pictures/bg2.jpg);
  background-size: cover;
  background-position: center;
}
.order h1{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 55px;
}

.order h1 span{
  margin-right: 15px;
  color: #fac031;
  font-family: mv boli;
}


.order .order-main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
}

.order .order-main .order-image{
  width: 100px;
  
}

.order .order-main form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 10px;
}


.order .order-main form .input p{
  line-height: 22px;
}

.order .order-main form .input{
  margin: 5px;

}

.order .order-main form .input input{
  width: 300px;
  height: 35px;
  padding: 0 10px;
  border: 2px solid #cccccc;
  background:#eeeeeeee ;
  border-radius: 3px;
}


.order .order-main form .input input:focus{
  border: 2px solid #fac031;
}


.order .order-main form .order-button{
  padding: 10px 0;
  background: #fac031;
  color: white;
  width: 40%;
  text-align: center;
  text-decoration: none;
}


